h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: slateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: black
}

h3{
    color: crimson;
    font-weight: 900;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
